/* ---------- Color Module Styles ----------- */

body {
  color: #3b3b3b;
  background: #f8fafc;
}

#page,
#main-wrapper,
.region-primary-menu .menu-item a.is-active,
.region-primary-menu .menu-item--active-trail a {
  background: #fff;
}

.tabs ul.primary li a.is-active {
  background-color: #fff;
}

.tabs ul.primary li.is-active a {
  background-color: #fff;
  border-bottom-color: #fff;
}

#navbar-top {
  background-color: #fff;
}

#navbar-main {
  background-color: #fff;
}

a,
.link {
  color: #4e2561;
}

a:hover,
a:focus,
.link:hover,
.link:focus {
  color: #EB8808;
}

a:active,
.link:active {
  color: #EB8808;
}

.page-item.active .page-link {
  background-color: #eee;
  border-color: #eee;
}

.page-link,
.page-link:hover {
  color: #EB8808;
}

.sidebar .block {
  background-color: #f6f6f2;
  border-color: #f9f9f9;
}

.btn-primary {
  background-color: #4e2561;
  border-color: #4e2561;
}

.btn-primary:hover {
  background-color: #381a45;
  border-color: #30173c;
}

.btn-primary:focus, .btn-primary:active {
  background-color: #381a45 !important;
  border-color: #30173c;
  box-shadow: 0 0 0 0 rgb(105 70 121 / 50%);
  color: #fff;
}

.text-mora {
  color: #B5095B;
}

.text-uva {
  color: #370C60;
}

.text-naranja {
  color: #EB8808;
}

.text-tomate {
  color: #CC3E39;
}

.text-tomate a {
color: #CC3E39;
}

.text-tomate:hover a {
color: #CC3E39;
text-decoration: underline;
}

.bg-naranja {
  background-color: #EB8808;
}

.bg-primary {
  background-color: #4e2561 !important;
}

.bg-tomate {
  background-color: #CC3E39;
}

.bg-mora {
  background-color: #B5095B;
}

.bg-uva {
  background-color: #370C60;
}

.bg-kiwi {
  background-color: #375;
}

.bg-purple-gradient {
  background: linear-gradient(0deg,rgb(56,6,85) 0%,rgb(141,50,123) 100%);
  background-size: 100% 450px;
  background-repeat: no-repeat;
  padding: 1rem;
}

.site-footer {
  background: linear-gradient(0deg, rgb(56, 6, 85) 0%, rgb(141, 50, 123) 100%);
  margin-top: 2rem;
}

.region-header,
.region-header a,
.region-header li a.is-active,
.region-header .site-branding__text,
.region-header .site-branding,
.region-header .site-branding__text a,
.region-header .site-branding a,
.region-secondary-menu .menu-item a,
.region-secondary-menu .menu-item a.is-active {
  color: #fffeff;
}


/* ---------- Color Form ----------- */

[dir="rtl"] .color-form .color-palette {
  margin-left: 0;
  margin-right: 20px;
}

[dir="rtl"] .color-form .form-item label {
  float: right;
}

[dir="rtl"] .color-form .color-palette .lock {
  right: -20px;
  left: 0;
}
