@media (min-width: 1400px){
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 80% !important;
    }
}

@media (min-width: 851px){
    .site-footer__top .region {
        width: 34%;
        padding: 0 0.65%;
    }
}

body {
    font-family: "Nunito", sans-serif;
    color: #737491 !important;
    font-weight: 400;
    line-height: 1.6;
    font-size: 0.9rem;
}

.site-footer .block {
    margin: 20px 0;
    border: none;
    border-color: rgba(255,255,255,0.1);
    padding: 10px;
}

.colornumero {
    color: #370C60;
}

.display-2 {
    font-size: 4rem;
    font-weight: 400;
}

#block-views-block-contador-block-1 {
    padding: 5rem 0rem;
    margin: 2rem 0;
}

img.logo-footer {
    width: 160px;
}

#block-views-block-publicaciones-block-1 {
    margin: 3rem 0;
    padding: 2rem 0;
}

img.cc {
    height: auto;
    width: 100px;
}

.btn-escritorio, .btn-escritorio:focus, .btn-escritorio:active, .btn-escritorio:focus-within {
  border-color: #4e2561;
  color: #4e2561;
}

.btn-escritorio:hover {
  background-color: #eee;
  border-color: #4e2561;
  color: #4e2561;
}

.btn-mora {
    background-color: #A13D8F;
    color: #fff;
}

.btn-mora:hover, .btn-mora:focus {
  background-color: #a9579a;
  color: #fff;
}

.btn-naranja {
    background-color: #EB8808;
    color: #fff;
}

.btn-naranja:hover, .btn-naranja:focus {
  background-color: #eda13e;
  color: #fff;
}

.btn-naranja:visited {
  background-color: #EB8808;
}

.btn-tomate {
    background-color: #CC3E39;
    color: #fff;
}

.btn-tomate:hover, .btn-tomate:focus {
  background-color: #cb615e;
  color: #fff;
}

#block-componentesthinkia-2 {
    margin: 3rem 0;
}

a {
    text-decoration: none;
}

h1, .h1 {
    color: #4e2561;
    line-height: 1.2;
    font-size: 2.25rem;
    margin-bottom: 0.75rem;
    font-weight: 600;
}

h2, .h2 {
    color:#4e2561;
    font-size: 2rem;
}

.h5, h5 {
    font-size: 1.35rem;
    font-weight: 600;
    color: #4e2561;
}

.h6, h6 {
    font-size: 1rem;
    font-weight: 600;
}

h6 a {
    color: #ffb15c;
}

label {
    color: #4e2561;
    font-weight: 600;
}

.box-destaca {
    color: #fff;
    background: linear-gradient(180deg, rgba(78,37,97,1) 0%, rgba(86,47,104,1) 24%, rgba(93,55,110,1) 44%, rgba(111,65,133,1) 100%, rgba(129,100,143,1) 100%, rgba(180,163,188,1) 100%);
    margin: 3rem 0;
    padding: 2rem 4rem 2rem 2rem !important;
}

.custom-cs-video-btn {
    display: inline-block;
    flex: 0 0 auto;
    width: 5.625rem;
    height: 5.625rem;
    padding-left: 0.125rem;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 50%;
    background-color: #fff;
    color: #5a5b75;
    font-size: 1.125rem;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 0.25rem 1rem -0.25rem rgb(55 56 78 / 20%);
    vertical-align: middle;
}

.custom-cs-video-btn::before {
    font-family: "feather";
    line-height: 5.625rem;
    content: "\E9C3";
}

.custom-cs-video-btn-primary {
    background-color: #4e2561 !important;
    color: #fff !important;
    box-shadow: none !important;
}

.cs-callout {
    padding-left: 1.5rem;
    border-left: 0.25rem solid #4e2561;
}

.banner-medio {
    background: rgb(239, 147, 0);
    background: linear-gradient(90deg, rgb(239, 147, 0) 0%, rgb(180, 6, 94) 50%);
    color: #fff;
    padding: 2rem 0;
    margin: 3rem 0;
}

.box-shadow {
    box-shadow: 0 0 0.625rem -0.1875rem rgb(0 0 0 / 13%) !important;
}

.box-shadow-lg {
    box-shadow: -0.0625rem 0 0.625rem 0 rgb(0 0 0 / 7%), 0.3125rem 1.25rem 2.5rem 0 rgb(0 0 0 / 4%) !important;
}

img.componentes-img {
    width: 80px;
}

.eventos-titulo {
    color: #A13D8F;
    text-transform: uppercase;
    font-size: 2.15rem;
    font-weight: 600;
}

.card-iniciativa {
    height: 17rem;
}

.card-iniciativa:hover {
    box-shadow: 0 0 1.625rem -0.1875rem rgb(0 0 0 / 13%) !important;
}

.card-img-iniciativa {
    max-height: 100px;
    width: auto;
    max-width: 450px;
    margin-bottom: 1rem;
    padding: 1rem 0;
}

.btn-thinkia {
    margin-top: 1rem;
}

div#block-formularioexpuestoiniciativasblock-1 {
    background-color: #eee;
    padding: 1rem;
    box-shadow: 0px 0px 18px -7px #555;
    margin: 3rem 1rem 3rem 1rem;
}

a.nav-link.nav-link--user {
    background-color: #4e2561;
    color: #fff;
    border-radius: 10px;
}

a.nav-link.nav-link--user-logout, .nav-link--user-login {
    background-color: #4e2561;
    color: #fff;
    border-radius: 10px;
    margin-left: 0.5rem;
}

a.nav-link.nav-link--user-logout:hover, .nav-link--user-login:hover {
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    margin-left: 0.5rem;
}

a.nav-link.nav-link--user-register {
    background-color: #4e2561;
    color: #fff;
    border-radius: 10px;
    margin-left: 0.5rem;
}

a.nav-link.nav-link--user-register:hover {
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    margin-left: 0.5rem;
}

/*Bloque buscador*/
.js-form-item.js-form-type-search.form-type-search.js-form-item-keys.form-item-keys.form-no-label.mb-3 {
    margin: 0rem !important;
}

.site-footer__bottom {
    letter-spacing: 0.2px;
    margin-top: 30px;
    border-top: none;
    border-color: rgba(255,255,255,0.15);
}

.icon-play-circle {
  background-color: #4e2561;
  padding: 0.8rem 1.8rem;
  border-radius: 30px;
  border: none;
  margin: 0 0.3rem 0 0;
}

.icon-play-circle:hover {
  background-color: #6E4184;
  transition: 0.2s;
}

svg#icon-play {
  fill: white;
}

a.circulo {
  background-color: #4e2561;
  padding: 14px 31px;
  border-radius: 77px;
  color: white;
  margin: 1.5rem 0.5rem 0.5rem 0;
}

a.circulo:hover {
    background-color: #5a5b75;
    color: #fff;
}

.card-body-fondo {
    background-color: #FF9F40;
    color: #fff;
    margin-top: 2rem;
}

.card-body-fondo>h5.card-title {
    color: #fff;
}

.card-fondo {
    min-height: 28rem !important;
    margin-bottom: 1.5rem;
}

.dropdown-item.active, .dropdown-item:active {
    color: var(--bs-dropdown-link-active-color);
    text-decoration: none;
    background-color: whitesmoke;
}

.navbar-collapse {
    flex-grow: 0;
}

.field--type-entity-reference {
    margin: 0 0 0;
}

.field__label {
    font-weight: 600 !important;
    color: #4e2561;
}

.field__label::after {
    content: ":";
}

p.address {
    display: flex;
}

span.address-line1::after {
    content: "\00a0";
}

span.locality::after {
    content: "\00a0-\00a0";
}


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 100%;
    min-height: 27rem;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin-bottom: 2rem;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
      background-color: #bbb;
  }
  
  /* Style the back side */
  .flip-card-back {
    transform: rotateY(180deg);
  }

  .card-img-flip-card {
    height: 350px;
    margin-bottom: 1rem;
  }

  .logo-h {
    height: 7rem !important;
    margin: 1rem 1rem;
    aspect-ratio: 4/2;
    object-fit: contain;
  }

  .logo-h-senescyt {
    height: 7rem;
    margin: 1rem 2rem;
    object-fit: contain;
  }

  .logo-h-pnud {
    height: 9rem;
    margin: 1rem 1rem;
    aspect-ratio: 4/2;
    object-fit: contain;
  }

  .logo-border {
    border: 1px solid #aaa;
    padding: 0.5rem;
    margin: 0.5rem;
  }

  section.equipo {
    margin: 3rem 0;
  }|

  section.seccion {
    margin-bottom: 1.5rem;
  }

  .video-gallery {
    margin: 0 0 3rem 0;
    display: flex;
    align-items: center;
  }
/*
  .video-gallery::before {
    content: "\f144";
    font-family: fontawesome;
    margin-right: 0.5rem;
    font-size: 3rem;
    color: #4e2561;
    display: inline-block;
  }

  .video-gallery::before {
    pointer-events: auto;
  }
*/
  .btn-innovacion {
    margin: 0.5rem 0.5rem;
    border: solid 1px;
  }

  .btn-innovacion:hover {
    background-color: #EB8808;
    color: #fff;
  }

  .view-iniciativas.view-id-iniciativas {
    margin-bottom: 3rem;
  }

  #block-views-block-eventos-block-2>h2 {
    text-align: center;
    margin-bottom: 2rem;
  }

  .img-evento {
    width: fit-content;
  }

  #block-views-block-fondos-vista-block-1>h2{
    text-align: center;
    margin-bottom: 2rem;    
  }

  thead>tr>th {
    background-color: #345 !important;
    font-size: 1rem;
  }

  #block-views-block-publicaciones-herramientas-block-1>h2{
    text-align: center;
    margin-bottom: 2rem;   
  }

  table#field-organizacion-values>thead>tr>th {
    background-color: transparent !important;
    color: #4e2561;
    font-size: 1rem !important;
    font-weight: 500;
  }

  table#field-organizacion-values>thead>tr>th>h4 {
    font-size: 1rem;
  }

  button#edit-field-organizacion-add-more {
    background-color: whitesmoke;
  }

  button#edit-submit {
    background: #EB8808;
    color: #fff;
    border-color: #EB8808;
  }

  div#edit-body-0-format-help {
    display: none;
  }

  .iniciativas-organizador {
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  .icon-brand {
    border: 1px solid #bbb;
    padding: 5px 10px;
    border-radius: 7px;
    margin: 0px 1px;
    color: #777;
    transition: 0.5s background-color;
    transition: 0.3s color;
  }

.icon-brand-footer {
    border: 1px solid #ffffff55;
    padding: 12px 12px;
    border-radius: 10px;
    margin: 0 5px;
    color: #fff;
    transition: 0.5s background-color;
}

.icon-brand-footer:hover {
    background-color: #fff;
    color: #8d327b;
}

  .icon-fa:hover {
    background-color: #1778f2;
    color: #fff;
    border: 1px solid #fff;
  }

  .icon-tw:hover {
    background-color: #1DA1F2;
    color: #fff;
    border: 1px solid #fff;
  }

  .icon-in:hover {
    background-color: #dd2a7b;
    color: #fff;
    border: 1px solid #fff;
  }

  .icon-ln:hover {
    background-color: #0e76a8;
    color: #fff;
    border: 1px solid #fff;
 }

 .icon-yt:hover {
    background-color: #e62117;
    color: #fff;
    border: 1px solid #fff;
  }

  button#edit-submit--3 {
    font-family: fontawesome;
  }

  .buscar-bloque {
    margin: 0 1.5rem;
  }

  .icon-buscar {
    font-size: 1rem;
    transition: 0.5s font-size;
  }

  .icon-buscar:hover {
    font-size: 2rem;
  }

  .buscar-fila {
    margin: 0.5rem 0;
  }

  .nav-item a {
    color: #4e2561;
    font-weight: 600;
  }

  .nav-link.dropdown-toggle.nav-link- {
    color: #4e2561;
    font-weight: 600;
  }

  .ver-video {
    margin: 2rem 0 3rem 0;
  }

  .text-justify {
    text-align: justify;
  }

  .card-eventos {
    min-height: 35.5rem;
    margin-bottom: 1rem;
  }

  .card-footer {
    background-color: #fff;
    border-top: none;
    padding-bottom: 1rem;
  }

  .logo-h-footer {
    height: 2rem;
    margin: 0.2rem 0.2rem;
    aspect-ratio: 5/2;
    object-fit: contain;
    filter: brightness(0) invert(1);
  }

  .logo-footer > img {
    width: 200px;
    filter: brightness(0) invert(1);
    margin-bottom: 1rem;
  }

  .convocatorias-bloque {
    max-width: 1250px;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .convocatorias-img {
    width: 110px;
  }

  div#edit-field-fecha-y-hora-0-value, div#edit-field-fecha-hora-fin-0-value {
    display: inline-flex;
  }

  input#edit-field-fecha-hora-fin-0-value-time {
    margin-left: 0.5rem;
}


  .js-form-item.js-form-type-date.form-type-date.js-form-item-field-fecha-y-hora-0-value-date.form-item-field-fecha-y-hora-0-value-date.form-no-label.mb-3 {
    margin-right: 0.5rem;
  }

  .tabledrag-toggle-weight-wrapper {
    display: none;
  }

  .field-add-more-submit {
    background-color: #4e2561 !important;
  }

  .js-form-item.js-form-type-textarea.form-type-textarea.js-form-item-body-0-summary.form-item-body-0-summary.mb-3 {
    display: none;
  }

  span.fieldset-legend {
    font-size: 1rem !important;
    font-weight: 600;
    color: #4e2561;
  }

  .page-item.active .page-link {
    background-color: #EB8808 !important;
    border-color: #EB8808 !important;
  }

  .parrafo-innovacion-imagen {
    padding: 2rem 0;
  }

  .parrafo-innovacion-simple {
    padding: 1.5rem 0;
  }

  .parrafo-innovacion-color {
    padding: 2rem 0;
  }

  .icon-innovacion {
    border: 1px solid #bbb;
    padding: 5px 20px;
    border-radius: 7px;
    margin: 0 2px 2px;
    color: #777;
    transition: 0.5s background-color;
    transition: 0.3s color;
  }


  .procesos-innovacion-bloque {
    background-image: url(/sites/default/files/inline-images/curve-innovacion.svg);
    padding-top: 4rem;
    background-repeat: no-repeat;
    flex-direction: column;
    align-self: flex-start;
    background-size: contain;
  }

  div#block-formularioexpuestoprocesos-de-innovacionblock-1 {
    background-color: #eee;
    padding: 1rem;
    box-shadow: 0px 0px 18px -7px #555;
    margin: 3rem 1rem 3rem 1rem;
  }

  div#block-formularioexpuestoeventosblock-2 {
    background-color: #eee;
    padding: 1rem;
    box-shadow: 0px 0px 18px -7px #555;
    margin: 3rem 1rem 3rem 1rem;  
  }

  .js-form-item.js-form-type-select.form-type-select.js-form-item-field-estado-convocatoria-target-id.form-item-field-estado-convocatoria-target-id {
    width: 23rem;
  }

  .js-form-item.js-form-type-select.form-type-select.js-form-item-field-iniciativa-ods-target-id.form-item-field-iniciativa-ods-target-id {
    width: 23rem;
  }

  .js-form-item.js-form-type-select.form-type-select.js-form-item-field-tipo-convocatoria-target-id.form-item-field-tipo-convocatoria-target-id {
    width: 23rem;
  }

  .js-form-item.js-form-type-select.form-type-select.js-form-item-field-tema-tratado-target-id.form-item-field-tema-tratado-target-id.mb-3 {
    width: 23rem;
  }

  div#block-formularioexpuestoiniciativasblock-2 {
    margin: 1rem 0;
    padding: 1rem 0;
  }

  .js-form-item.js-form-type-select.form-type-select.js-form-item-field-tipo-institucion-target-id.form-item-field-tipo-institucion-target-id.mb-3 {
    width: 23rem;
  }

  .js-form-item.js-form-type-select.form-type-select.js-form-item-field-poblacion-objetivo-i-target-id.form-item-field-poblacion-objetivo-i-target-id.mb-3 {
    width: 23rem;
  }

  .js-form-item.js-form-type-select.form-type-select.js-form-item-field-tipo-evento-value.form-item-field-tipo-evento-value.mb-3 {
    width: 23rem;
  }

  .form-actions.js-form-wrapper.form-wrapper {
    max-width: none;
  }

  .sidebar-publicaciones {
    background-color: #f2f2f2;
    padding: 2rem;
  }

  form#views-exposed-form-publicaciones-herramientas-block-1 {
    margin-bottom: 1.5rem;
  }

  div#block-formularioexpuestopublicaciones-herramientasblock-1 h2 {
    font-size: 1.5rem;
  }

  div#block-views-block-publicaciones-herramientas-block-3 {
    margin-bottom: 1.5rem;
  }

  div#block-views-block-publicaciones-herramientas-block-3 h2 {
    font-size: 1.5rem;
  }

  div#block-views-block-publicaciones-herramientas-block-2 h2 {
    font-size: 1.5rem;
  }

  .list-group-item {
    border: none;
  }

  small#edit-user-picture-0--description {
    display: none;
  }

  .img-publicaciones {
    width: 400px;
  }

  .simplelogin-logo img {
    max-width: 250px;
  }

  .simplelogin h1 {
    font-size: 1rem;
    color: #545454;
    font-weight: 600;
  }

  .simplelogin-wrapper {
    padding: 3rem 0 0;
  }

  .simplelogin-form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    margin: 0 auto 2rem;
    padding: 2rem;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%), 0 5px 5px 0 rgb(0 0 0 / 24%);
    max-width: 500px;
  }

  .js-form-item.js-form-type-textfield.form-type-textfield.js-form-item-title.form-item-title.mb-3 {
    max-width: 30rem;
  }

  .form-box {
    padding: 2rem;
    background-color: white;
    margin: 0 0 1rem 0;
    border-radius: 0px 0px 20px 20px;
    box-shadow: #333 0px 0px 20px -5px;
  }

  a:hover, a:focus, .link:hover, .link:focus {
    color: #ddd;
  }

  .img-fondos {
    height: 250px;
    aspect-ratio: 1/1;
    object-fit: contain;
  }

  .dropdown-thinkia {
    position: relative;
    display: inline-block;
    margin: 0 0.3rem;
  }
  
  .dropdown-thinkia-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown-thinkia:hover .dropdown-thinkia-content {
    display: block;
  }

  .botonera {
    display: flex;
  }

  .video-texto {
    margin-right: 1rem;
    margin-left: 0.4rem;
  }

  div#block-views-block-slider-innovacion-block-1 {
    margin: 0 0 1rem 0;
  }

  .js-form-item.js-form-type-select.form-type-select.js-form-item-field-tema-tratado-target-id.form-item-field-tema-tratado-target-id.mb-3 {
    display: none;
  }


  .card-login {
    border: 0;
    max-width: 25rem;
  }

  .sidebar-top {
    margin: 0 0 0.5em;
    border-bottom: 1px solid #d6d6d6;
    padding-bottom: 5px;
    text-shadow: 0 1px 0 #fff;
    font-size: 1.071em;
    line-height: 1.2;
    max-width: 10rem;
    color:#4e2561;
    margin: 0 0 1rem 0.5rem;
  }

  .carousel-caption {
    display: none !important;
  }

  .tema-fila {
    margin-bottom: 0.5rem;
  }

  span.fieldset-legend.js-form-required.form-required {
    font-size: 0.9rem;
    color: #4e2561;
    font-weight: 600;
    margin-bottom: 0rem;
  }

  span.paragraph-type-label {
    display: none;
  }

  input#edit-field-proceso-innovacion-p-0-subform-field-color-fondo-0-color {
    width: 70px;
    height: 50px;
  }

  input#edit-field-proceso-innovacion-p-0-subform-field-subtitulo-0-value {
    max-width: 98%;
  }

  .js-form-item.js-form-type-textarea.form-type-textarea.js-form-item-field-proceso-innovacion-p-0-subform-field-parrafo-innovacion-0-value.form-item-field-proceso-innovacion-p-0-subform-field-parrafo-innovacion-0-value.mb-3 {
    max-width: 98%;
  }

  h4.label {
    font-size: 1.2rem;
  }

  div#edit-field-proceso-innovacion-p-wrapper {
    max-width: 99%;
  }

  div#edit-field-proceso-innovacion-p-add-more {
    margin-top: 1rem;
  }

  div#edit-field-proceso-innovacion-p-0-top {
    display: none;
  }

  button.paragraphs-dropdown-toggle {
    display: none;
  }

  a#edit-field-proceso-innovacion-p-0-subform-field-parrafo-innovacion-0-format-help-about {
    display: none;
  }

  table#field-proceso-innovacion-p-values {
    background: #ffffff !important;
  }

  .js-form-item.js-form-type-select.form-type-select.js-form-item-type-1.form-item-type-1.mb-3 {
    max-width: 20rem;
  }

  .btn-analitica, .btn-analitica:active, .btn-analitica:focus {
    margin-left: 0.7rem;
    background-color: #eee;
    margin-bottom: 0.5rem;
    border: none;
    color: #4e2561;
  }

  .btn-analitica:hover {
    color: #4e2561;
    background-color: #d0cccc;
  }

  a.btn.btn-analitica.nav-link.active.nav-link--analitica-pie.is-active {
    background-color: #eee;
    color: #4e2561;
  }

  .usuario-boque > .views-field-name {
    margin-top: 0.5rem;
  }

  .btn-micuenta, .btn-micuenta:active, .btn-micuenta:focus {
    background-color: #4e2561 !important;
    color: #fff !important;
    border: 1px solid #4e2561;
    border-radius: 11px;
    margin-left: 0.5rem;
  }

  .btn-micuenta:hover {
    background-color: #553166 !important;
    color: #fff !important;
    border: 1px solid #553166;
    border-radius: 11px;
  }

  table {
    --bs-table-color: var(--bs-body-color);
    --bs-table-bg: transparent;
    --bs-table-border-color: var(--bs-border-color);
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: var(--bs-body-color);
    --bs-table-striped-bg: white !important;
    --bs-table-active-color: var(--bs-body-color);
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: var(--bs-body-color);
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: var(--bs-table-color);
    vertical-align: top;
    border-color: var(--bs-table-border-color);
    font-size: 1rem;
  }

  .ui-widget-header {
    font-weight: bold;
    background-color: #4e2561 !important;
    color: #fff !important
  }

  .ui-dialog .button {
    background-color: #4e2561 !important;
    background-image: none;
    border: none;
    border-bottom-color: none;
    border-left-color: none;
    border-right-color: none;
    color: #fff;
    cursor: pointer;
    font-size: 0.929em;
    font-weight: normal;
    text-align: center;
    padding: 0.25em 1.063em;
    border-radius: 0;
    width: 100% !important;
  }

  .forgot-pass {
    font-size: 0.8rem;
    font-weight: 700;
    padding: 0rem;
  }

  .estado-convocatoria {
    font-size: 1.4rem;
  }