<div class="container text-center my-3"> 
    <h1>{{ node.title.value }}</h1>
</div>
{{ content.field_proceso_innovacion_p }}
{% if content.field_archivo[0] %}
<div class="text-center">
    <a class="btn btn-primary btn-lg" href="{{ content.field_archivo[0]['#markup'] }}" target="_blank">Resultados Proceso de Innovación</a>
</div>
{% endif %}
