<div class="row">
    <div class="col-md-8">
        {{ content.body }}
                <ul class="fa-ul">
            <li><span class="fa-li"><i class="fa-solid fa-tag"></i></span>
                {{ content.field_tipo_institucion }}
            </li>
            <li><span class="fa-li"><i class="fa-solid fa-globe"></i></span>
                {{ content.field_fondos_web }}
            </li>
            <li><span class="fa-li"><i class="fa-solid fa-envelope"></i></span>
                {{ content.field_email }}
            </li>
            <li><span class="fa-li"><i class="fa-solid fa-phone"></i></span>
                {{ content.field_tel }}</li>
            <li><span class="fa-li"><i class="fa-solid fa-location-dot"></i></span>
                {{ content.field_direccion }}
            </li>
        </ul>   
    </div>
    <div class="col-md-4">
        {{ content.field_image }}    
    </div>

    {{ content.field_mapa_2 }}
</div>