<div class="row">
    <div class="col-md-6">
        {{ content.body }}
        
        <a class="btn btn-primary" href="{{ content.field_enlace_evento_virtual[0]['#title'] }}" target="_blank"> Enlace a la herramienta</a>
        {% if content.field_archivo[0] %}
            <a class="btn btn-primary" href="{{ content.field_archivo[0]['#markup'] }}" target="_blank"> Enlace al archivo</a>
        {% endif %}
        {% if field_archivo['#title'] is not empty %}
        <span class="fa-li"><i class="fa-solid fa-download"></i></span>
            <a class="btn btn-primary" href="{{ content.field_archivo }}" target="_blank"> Descargar herramienta</a>
            {{ content.field_archivo }}
        {% endif %} 
    </div>
    <div class="col-md-6">
        <ul class="fa-ul">
            <li><span class="fa-li"><i class="fa-solid fa-tag"></i></span>
                {{ content.field_tema_tratado }}
            </li>
        </ul>      
    </div>
</div>

