<div class="row">
    <div class="col-md-6">
        {{ content.body }}

        {% if content.field_fondos_web[0] %}
            <a class="btn btn-primary" href="{{ content.field_fondos_web[0]['#title'] }}" target="_blank"> Enlace a la publicación</a>
        {% endif %}
        {% if content.field_archivo[0] %}
            <a class="btn btn-primary" href="{{ content.field_archivo[0]['#markup'] }}" target="_blank"> Enlace al archivo</a>
        {% endif %}
    </div>
    <div class="col-md-6">
        <ul class="fa-ul">
            <li><span class="fa-li"><i class="fa-solid fa-feather"></i></span>
                {{ content.field_autor }}
            </li>
            <li><span class="fa-li"><i class="fa-solid fa-calendar-days"></i></span>
                {{ content.field_fecha_publicacion }}
            </li>
            <li><span class="fa-li"><i class="fa-solid fa-tag"></i></span>
                {{ content.field_tema_tratado }}
            </li>
            {% if field_archivo['#title'] is not empty %}
            <li><span class="fa-li"><i class="fa-solid fa-download"></i></span>
                {{ content.field_archivo }}
            </li>
            {% endif %}
        </ul>       
    </div>
</div>

