{% extends "@bootstrap_barrio/layout/page.html.twig" %}

{% block head %}
        {% if page.secondary_menu or page.top_header or page.top_header_form %}
          <nav{{ navbar_top_attributes }}>
            <div class="container">
                {{ page.secondary_menu }}
                {{ page.top_header }}
                {% if page.top_header_form %}
                  <div class="form-inline navbar-form float-right ms-auto">
                    {{ page.top_header_form }}
                  </div>
                {% endif %}
            </div>
          </nav>
        {% endif %}
        <nav{{ navbar_attributes }}>
          <div class="container">
            {{ page.header }}
            {% if page.primary_menu or page.header_form %}
              <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#CollapsingNavbar" aria-controls="CollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
              <div class="collapse navbar-collapse" id="CollapsingNavbar">
                {{ page.primary_menu }}
                {% if page.header_form %}
                  <div class="form-inline navbar-form float-right">
                    {{ page.header_form }}
                  </div>
                {% endif %}
	          </div>
            {% endif %}
            {% if sidebar_collapse %}
              <button class="navbar-toggler navbar-toggler-left collapsed" type="button" data-toggle="collapse" data-target="#CollapsingLeft" aria-controls="CollapsingLeft" aria-expanded="false" aria-label="Toggle navigation"></button>
            {% endif %}
          </div>
        </nav>
{% endblock %}

{% block content %}
        {{ page.slider }}
        <div id="main" class="{{ container }}">
          {{ page.breadcrumb }}
          <div class="row row-offcanvas row-offcanvas-left clearfix">
              <main{{ content_attributes }}>
                <section class="section">
                  <a id="main-content" tabindex="-1"></a>
                  {{ page.content }}
                </section>
              </main>
          </div>
        </div>

        
        <div id="main-proceso-innovacion">
          <div class="row row-offcanvas row-offcanvas-left clearfix procesos-innovacion-bloque">
              <main{{ content_attributes }}>
                <section class="section {{ container }}">
                  <a id="main-content" tabindex="-1"></a>
                    {{ page.content_back }}
                </section>
              </main>
          </div>
        </div>

{% endblock %}

{% block footer %}
        <div class="{{ container }}">
          {% if page.footer_first or page.footer_second or page.footer_third %}
            <div class="site-footer__top clearfix row justify-content-md-center">
              {{ page.footer_first }}
              {{ page.footer_second }}
              {{ page.footer_third }}
            </div>
          {% endif %}
          {% if page.footer_fifth %}
            <div class="site-footer__bottom">
              {{ page.footer_fifth }}
            </div>
          {% endif %}
        </div>
{% endblock %}