{#
/**
 * @file
 * Theme "page__simplelogin" template.
 *
 * @see simplelogin_preprocess_simplelogin()
 * @see simplelogin_theme_registry_alter()
 */
#}





{% spaceless %}
  <div class="simplelogin-wrapper {{ background_class }} {{ background_opacity }}">

      <div class="card card-login mb-5 mx-auto">
        <div class="card-header bg-primary text-white">
              {% if path == '/user/password' %}
                {{ 'Sign up'|t }}
              {% elseif path == '/user/register' %}
                {{ 'Sign up'|t }}
              {% else %}
                {% if site_register != 'admin_only' %}
                  {{ 'Login'|t }}
                {% endif %}
              {% endif %}
        
        </div>
        <div class="card-body">
          <a href="{{ base_path }}"><img class="card-img-top" src="{{ logo }}" alt="Home"/></a>
              {{ page.content }}
            <p>--- o ---</p>
            <div class="login-registro">
              {% if path == '/user/password' %}
                <a href="{{ base_path }}user/login" class="btn btn-sm btn-primary text-white">{{ 'Login'|t }}</a>
              {% elseif path == '/user/register' %}
                <a href="{{ base_path }}user/login" class="btn btn-sm btn-primary text-white">{{ 'Login'|t }}</a>
              {% else %}
                {% if site_register != 'admin_only' %}
                  <a href="{{ base_path }}user/register" class="btn btn-sm btn-primary text-white">{{ 'Sign up'|t }}</a>
                {% endif %}
              {% endif %}
            </div>

          {% if path == '/user/login' %}
            <div class="forgot-password mt-3">
              <span class="text-muted">{{ 'Forgot password?'|t }}</span> <a href="{{ base_path }}user/password">{{ 'Click here'|t }}</a>
            </div>
          {% endif %}
        </div>
      </div>


  </div>
{% endspaceless %}