<div class="{% if content.field_imagen_fondo[0] %}
parrafo-innovacion-imagen
{% else %}
parrafo-innovacion-simple
{% endif %}

{% if content.field_color_fondo[0]['#markup'] == '#ffffff' %}
{% else%}
parrafo-innovacion-color
{% endif %}
" 
    style="
    background-color: {{ content.field_color_fondo[0]['#markup'] }};   
    background-image: url('{{ content.field_imagen_fondo[0]['#markup'] }}');">
    <div class="container">
        <h2 class="text-center mb-3
        {% if content.field_color_de_texto[0]['#markup'] == 'Activado' %}
         text-white
        {% endif %}
    
    ">{{ content.field_subtitulo }}</h2>
    <div class="text-justify
        {% if content.field_color_de_texto[0]['#markup'] == 'Activado' %}
         text-white
        {% endif %}
    ">
        {{ content.field_parrafo_innovacion }}
    </div>


    </div> 
</div>