{#
/**
 * @file
 * Theme override to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 */
#}
<div id="carouselThinkia" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">

  {% for key,row in rows %}
    {%
      set row_classes = [
        default_row_class ? 'views-row',
      ]
    %}
    {% if key == 0 %}
      <div class="carousel-item active">
    {% else %}
      <div class="carousel-item">
    {% endif %}
        <div class="mb-3"> 
          <div class="row g-0">
            <div class="col-md-12 text-center">
              {#<a href="node/{{row.content['#row']._entity.get('nid').value}}"><img class="img-fluid rounded-start" src="{{file_url(row.content['#row']._entity.field_image.entity.uri.value | image_style('1905x750') )}}"></a>#}
              <img class="img-fluid rounded-start" src="{{file_url(row.content['#row']._entity.field_image.entity.uri.value | image_style('1905x750') )}}">
            </div>
          </div>
        </div>

      </div>



  {% endfor %}
  </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselThinkia" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselThinkia" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>