{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}

<div class="content form-node-edit clearfix row">
  <div class="col layout-region layout-region-node-main">

    {{ form.field_seleccion_organizador }}
    {{ form.field_persona_encargada }}

    {{ form.field_organizacion }}

    {{ form.title }}

    <div class="d-flex flex-row mb-3">
        <div class="p-2">
            {{ form.field_ano_inicio}}
        </div>
        <div class="p-2">
            {{ form.field_ano_fin }}
        </div>
    </div>

        {{ form.field_descripcion_iniciati }}
        {{ form.field_componente_innovador }}

        {{ form.field_iniciativa_ods }}
        {{ form.field_poblacion_objetivo_i }}

        <div class="d-flex flex-row mb-3">
            <div class="p-2">
                {{ form.field_fondos_web }}
            </div>
            <div class="p-2">
                {{ form.field_email }}
            </div>
        </div>


    Redes Sociales
    <div class="d-flex flex-row mb-3">
        <div class="p-2">
            {{ form.field_facebook }}
        </div>
        <div class="p-2">
            {{ form.field_instagram }}
        </div>

    </div>
    <div class="d-flex flex-row mb-3">
        <div class="p-2">
            {{ form.field_linkedin }}
        </div>
        <div class="p-2">
            {{ form.field_twitter }}
        </div>

    </div>
    <div class="p-2">
        {{ form.field_y}}
    </div>

        {{ form.field_confirmacion }}
        {{ form.actions }}

  </div>
</div>