{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}

<div class="content form-node-edit clearfix row">
    <div class="col-lg-6 col-md-12 layout-region layout-region-node-main">
      <div class="d-flex flex-row mb-3">
        <div class="p-2">
          {{ form.title }}
        </div>
        <div class="p-2">
          {{ form.field_siglas }}
        </div>
      </div>
      {{ form.field_image }}
      {{ form.body }}
      {{ form.field_tipo_institucion }}
      {{ form.field_fondos_web }}
      <div class="d-flex flex-row mb-3">
        <div class="p-2">
          {{ form.field_email }}
        </div>
        <div class="p-2">
          {{ form.field_tel	}}
        </div>
      </div>
      {{ form.field_confirmacion }}
      {{ form.actions }}
    </div>
    <div class="col-lg-6 col-md-12">
      {{ form.field_direccion }}
      {{ form.field_mapa_2 }}
  
    </div>
  
  </div>